*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.container{
    height: 90vh;
    
    background: hsl(222, 26%, 31%);
    /* place-items: center; */
    width:800px;
    min-width: 400px;
     margin: auto;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0; 
    position: relative;

    
}
.first{
    width: 350px;
    min-width: 200px;
    height: 400px;
    background: hsl(223, 31%, 20%);
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
}
.second{ 
    width: 350px;
    height: 40px;
    background-color: hsl(224, 36%, 15%);
    bottom: 0;
    top: -50px;
    position:relative;
    border-radius: 5px;
    
 }

.fig{ 
    text-decoration: solid;
    font-size: 22px;
    font-weight: bolder;
    position: relative;
    text-align: right;
    left: -10px;
    top: 8px;
    color:white;
    text-shadow: hsl(224, 28%, 35%);
}
.word{
    position: absolute;
    top: -25px;
    font-size: small;
    font-weight: bolder;
    text-decoration: solid;
    color:white;
}
.word2{
    right: -280px;
    position: relative;
    top: -15px;
    font-size: smaller;
}
.num{
    z-index: 1000;
    font-size:xx-large;
    text-decoration-style: solid;
    font-weight: bolder;
    left:12px;
    position: relative;
}

input{
    width: 22%;
    font-size: 30px;
    border-radius: 5px;
    margin-top: 10px;
    text-shadow: 1px 1px;
    /* gap: 10px; */
    color:rgba(0, 0, 0, 0.486);
    background-color:rgba(255, 255, 255, 0.87);
    font-weight: bolder;
    height: 65px;
    font-style: normal;

}
#RESET{
    width:165px;
    color: white;
    /* border-radius: 5px; */
    background-color: hsl(224, 28%, 35%);
}
#equal{
    width: 160px;
    /* border-radius: 5px; */
    color:white;
    background-color: rgba(230, 50, 50, 0.973);
}
#Del{
    color: white;
    /* border-radius: 5px; */
    background-color: hsl(224, 28%, 35%);
}