* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 80vh;
    display: grid;
    place-items: center;
    width: 90vw;
}

.container {
    width: 80vw;
    min-width: 50vw;
    height: 90vh;
    background-color: white;
    place-items: center;
    position: relative;
}

.image-one,
.image-two,
.image-three,
.image-four,
.image-five {
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 10px;
}

.image-two {
    top: 5rem;
    width: 300px;
    left: 5rem;


}

.image-one {
    bottom: 4rem;
    width: 70px;
    left: 5rem;

}

.image-three {
    bottom: 4rem;
    width: 70px;
    left: 10rem;
}

.image-four {
    bottom: 4rem;
    width: 70px;
    left: 15rem;

}

.image-five {
    bottom: 4rem;
    width: 70px;
    left: 20rem;
}

.top {
    bottom: -10px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;


}

.word {
    font-size: small;
}

.word-big {
    font-weight: bolder;
    font-size: larger;
}

.other {
    z-index: 1000;
    position: relative;
    text-align: justify;
    top: 9rem;
    right: -27rem;
}

.side-small {
    font-size: x-small;
    font-weight: lighter;

}

.sney {
    font-size: normal;
    font-weight: bolder;
    color: orange;
    text-transform: uppercase;

}

.side-big {
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
}

.side-num {
    font-weight: bold;
}

.subm {
    width: 40px;
    height: 10px;
}

.button {
    width: 20.7%;
    height: 3rem;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    background: orange;
    position: relative;
    overflow: hidden;
    border-color: orange;
}

.cart {
    left: 4rem;
    position: absolute;
    bottom: -1px;
    background-color: white;
    height: 15px;
    width: 20px;
}

.avat {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
    right: -8rem;
    position: relative;
}

.cat {
    right: 6rem;
    position: relative;
}