* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;

}

.container {
    width: 80%;
    height: 90%;
    background-image: linear-gradient(to top left, rgb(8, 105, 105), rgb(2, 31, 31)); 
    overflow: hidden;
    place-items: center;
    display: grid;
    position: relative;

}

.photo1,
.photo2 {
    position: absolute;
    height: 75vh;
}

.photo1 {
    left: -5rem;
    top: -5rem;

}

.photo2 {
    right: -5rem;
    bottom: -5rem;
}

.content {
    width: 80%;
    aspect-ratio: 1/1;
    position: relative;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

}

.sect1 {
    height: 40%;
    position: relative;
    background-image: url(./image/bg-pattern-card.svg);
    background-size: cover;
    z-index: 100;
    background-repeat: no-repeat;
}

.victor {
    width: 30%;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: -80%;
    position: absolute;
}

.prof {
    text-align: center;
    bottom: -1rem;
    position: relative;
    font-weight: bold;

}

.num {
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -.2rem;
    position: relative;
    border-top: 0.1px solid;
    padding-top: .2rem;
    margin-top: 10%;
}

.container:hover{
        transition: all;
        transition-duration: 1.5s;
        transition-property: all;
        /* transform: translate(5%); */
        background:black;
}  
.content:hover{
    transform: translate(20%);
    background:#c4f31ac7;
    
}
@media (min-width:360px) {
        .prof{
            bottom: -2.2rem;
        }
        .num{
            bottom: -1.5rem;
        }
}
@media (min-width:393px) {
    .prof{
        bottom: -2rem;
    }
    .num{
        bottom: -2rem; }
        
}
    @media (min-width:375px) {
        .prof{
            bottom: -2rem;
        }
        .num{
            bottom: -2rem;
        }
}
@media (min-width:540px) {
        .prof{
            bottom: -3rem;
        }
        .num{
            bottom: -4rem;
        }
}
@media (min-width:600px){
    .content{
        width: 40%;
    }
    .prof{
        bottom: -5rem;
    }
    .num{
        bottom: -4rem;
        padding-top: 1rem;
    }
}
 @media (min-width:768px) {
        .prof{
            bottom: -2rem;
        }
        .num{
            bottom: -1.5rem;
        }
}
@media (min-width:820px) {
     .prof{
         bottom: -3.5rem;
     }
     .num{
         bottom:-2rem;
     }
}

@media (min-width:1400px){
    .content{
        width: 27vw;
    }
    .prof{
        bottom: -5rem;
    }
    .num{
        bottom: -4rem;
    }
}